<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.evotor.egais.api.example">

    <uses-permission android:name="ru.evotor.permission.EGAIS_READ_API" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <meta-data
                android:name="ru.evotor.launcher.BACKGROUND_COLOR"
                android:value="#133700" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.EVOTOR" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".orginfo.OrgInfoListActivity"
            android:label="@string/title_orginfo_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".orginfo.OrgInfoDetailActivity"
            android:label="@string/title_orginfo_detail"
            android:parentActivityName=".orginfo.OrgInfoListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.evotor.egais.api.example.orginfo.OrgInfoListActivity" />
        </activity>
        <activity
            android:name=".product.ProductListActivity"
            android:label="@string/title_product_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".product.ProductDetailActivity"
            android:label="@string/title_product_detail"
            android:parentActivityName=".product.ProductListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.evotor.egais.api.example.product.ProductListActivity" />
        </activity>
        <activity
            android:name=".waybill.WaybillListActivity"
            android:label="@string/title_waybill_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".waybill.WaybillDetailActivity"
            android:label="@string/title_waybill_detail"
            android:parentActivityName=".waybill.WaybillListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.evotor.egais.api.example.waybill.WaybillListActivity" />
        </activity>
        <activity
            android:name=".actwriteoff.ActWriteOffListActivity"
            android:label="@string/title_actwriteoff_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actwriteoff.ActWriteOffDetailActivity"
            android:label="@string/title_actwriteoff_detail"
            android:parentActivityName=".actwriteoff.ActWriteOffListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.evotor.egais.api.example.actwriteoff.ActWriteOffListActivity" />
        </activity>
        <activity
            android:name=".stock_commodity.StockCommodityListActivity"
            android:label="@string/title_egais_commodity_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".stock_commodity.StockCommodityDetailActivity"
            android:label="@string/title_orginfo_detail"
            android:parentActivityName=".stock_commodity.StockCommodityListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.evotor.egais.api.example.stock_commodity.StockCommodityListActivity" />
        </activity>
        <activity
            android:name=".shop_commodity.ShopCommodityListActivity"
            android:label="@string/title_egais_commodity_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".shop_commodity.ShopCommodityDetailActivity"
            android:label="@string/title_orginfo_detail"
            android:parentActivityName=".shop_commodity.ShopCommodityListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.evotor.egais.api.example.shop_commodity.ShopCommodityListActivity" />
        </activity>
        <activity android:name=".client_settings.ClientSettingsActivity"></activity>

        <activity
            android:name=".unrocessed_documents.UnprocessedDocumentsActivity"
            android:label="@string/title_unprocessed_documents"
            android:parentActivityName=".unrocessed_documents.UnprocessedDocumentsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>